@tailwind base;
@tailwind components;
@tailwind utilities;

.tab {
    padding: 0.5em 1em;
    margin-right: 0.5em;
    cursor: pointer;
    border: 1px solid #ddd;
}

.tab-active {
    border-bottom: none;
    font-weight: bold;
}

.preview {
    margin-top: 1em;
    border: 1px solid #ddd;
    padding: 1em;
}

.btn {
    padding: 0.5em 1em;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.copy-btn {
    padding: 0.5em;
    border: none;
    background-color: #328beb;
    color: white;
    cursor: pointer;
}   
